# =========================
# DEPENDENCIES
# =========================
node_modules/

# =========================
# BUILD OUTPUT
# =========================
dist/
build/

# =========================
# VITE
# =========================
.vite/

# =========================
# ENV
# =========================
.env
.env.local
.env.*.local

# =========================
# DEBUG
# =========================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# OS
# =========================
.DS_Store
