@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body {
  height: 100%;
}

body {
  background-color: #0A0A1A;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
